main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}
.main-title h1 {
    font-size: 2rem;
    color: black;
    margin-bottom: 10px;
    text-align: center;
  }
  
.main-title p {
    color: black;
    margin-bottom: 20px;
    text-align: center;
  }
.card-container {
    width: 100%;
    max-width: 1200px;
}

.card {
    display: flex;
    background-color: white;
    margin:20px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 0 20px;
    
}

.card:nth-child(even) {
    flex-direction: row-reverse;
}

.card img {
    width: 50%;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
    margin: auto;
    
}

.card-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-content h2 {
    margin: 0 0 10px;
    font-size: 30px;
    font-weight: bold;
}

.card-content p {
    flex-grow: 1;
    font-size: 30px;
    color: black;
    font-weight: normal;
}

.card-content .time-description {
    font-size: 20px;
    color: black;
    font-weight: bold;

}
.card-content button {
    background-color: #3FA752;
    color: white;  
}

.card-content button:hover {
    background-color: white;
    color: #3FA752;
}

/*Responsive Styles*/

/* Responsive Tasarım: 600px ve Altı */

@media (max-width:768px) {
    .card {
        flex-direction: column;
        padding: 10px;
        margin: 15px;
    }

    .card:nth-child(even) {
        flex-direction: column;
    }

    .card img {
        width: 100%;
        height: auto;
        margin: 0;
        border-radius: 8px;
    }

    .card-content {
        padding: 15px;
    }

    .card-content h2 {
        font-size: 1.5rem;
        text-align: center;
    }

    .card-content p {
        font-size: 1rem;
        text-align: center;
    }

    .card-content .time-description {
        font-size: 0.9rem;
        text-align: center;
    }

    .card-content button {
        font-size: 1rem;
        padding: 10px 15px;
        display: block;
        margin: 10px auto;
        width: 80%;
        border-radius: 5px;
    }
}
