
.hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-gap: 20px;
  padding: 20px;
  background-color: white;
} 


.info {
  background-color: white;
  padding:20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.info img {
  display: grid;
  place-items: center;
  height: 80%;
  border-radius: 10px;

}

.info h1 {
  margin-bottom: 20px;
  text-align: center;
}

.info p {
  margin-bottom: 20px;
  font-size: 12px;
  text-align: left;
}

.info button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.info button:hover {
  background-color: #0056b3;
}


.info-double-column {
  display: grid;
  grid-template-rows: 1fr 1fr; 
  grid-gap: 20px;
}

.info iframe {
  width: 600px;
  height: 400px;
  border-radius: 5px;
  border: 0;
}


ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 5px;
}

.features {
  display: flex;
  justify-content: space-around;
  background: white;
  padding: 2rem;
  margin-bottom: 20px;
}

.feature {
  text-align: center;
  width: 30%;
}

.feature img {
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .hero-container {
      grid-template-columns: 1fr;
  }

  .features {
    flex-direction: column;
  }

  nav ul {
    display: none;
  }

  .menu-toogle {
    display: block;
  }
}


