main.visit {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}

main h1 {
  padding: 20px;
  text-align: center;
  width: 100%;
}

.hero-container {
  display: flex;
  gap: 30px;
  width: 95%;
}

.info-museum {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 50%;
}

.info-museum img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}

.info-museum p {
  margin-bottom: 20px;
  font-size: 12px;
  text-align: center;
}

.info-museum button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.info-museum button:hover {
  background-color: #0056b3;
}

.info-map-time {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.map iframe {
  width: 100%;
  border-radius: 5px;
  border: 0;
}

.opening-time ul {
  list-style: none;
  padding: 0;
}

.opening-time ul li {
  margin-bottom: 5px;
}

.features {
  display: flex;
  justify-content: space-around;
  background: white;
  padding: 2rem;
  margin: 20px 0;
}

.feature {
  text-align: center;
  width: 30%;
}

.feature img {
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
  border-radius: 8px;
}

/* Responsive */
@media (max-width: 600px) {
  .hero-container {
    flex-direction: column;
  }

  .info-museum {
    width: 100%;
  }

  .info-museum img {
    height: auto;
  }

  main h1 {
    width: 90%;
  }

  .features {
    flex-direction: column;
    gap: 20px;
  }

  .feature {
    width: 90%;
  }
}
