
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #D9D9D9;   
}

header {
    background: #222;
    color: #fff;
    padding: 15px 20px;
   
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    max-width: 1200px;
    max-width: 0 auto;  
}

.logo-section {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    object-fit: cover;
    flex-shrink: 0;
}

.logo-section p {
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.2;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 15px;
}

nav ul li {
    text-align: center;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #aaa;
}

.buy-ticket {
    background-color: #3FA752;
    padding: 8px 15px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.buy-ticket:hover {
    background-color: #444;
    color: #fff;
}

.hamburger-menu {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

footer {
    width: 100%;
    background-color: #222;
    color: white;
    padding: 20px 10px;
    text-align: center;
    box-sizing: border-box;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-column {
    background-color: #444;
    padding: 15px;
    border-radius: 5px;
    text-align: left
}

.footer-column h4 {
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: #2A8c46;
}

.footer-column p,
.footer-column a {
    font-size: 0.9rem;
    line-height: 1.5;
    color: white;
    text-decoration: none;
}

.footer-column a:hover {
    text-decoration: underline;
}

/* Rsponsive Styles  */

@media (max-width:600px) {
    nav ul {
        display: none; 
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 20px;
        background: #333;
        padding: 10px;
        border-radius: 5px;
    }

    nav ul.show {
        display: flex; 
    }

    .logo-section p {
        font-size: 1rem;
    }
    
    .footer-grid {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .footer-column {
        top: center;
    }

    .footer-column p,
    .footer-column a {
        font-size: 0.85rem;
    }

}





